<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google" content="notranslate">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
        <link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
        <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
        <link rel="stylesheet" href="{{ '/css/style.css'  | url }}"/>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="pageContainer">
            {% include 'header.njk' %}
            {{ content | safe }}
        </div>
    </body>
</html>