<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google" content="notranslate">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="{{ icon.url | url }}"/>
        <link rel="stylesheet" href="{{ iconBrands.url | url }}"/>
        <title>{{ title }}</title>
        <meta property="og:title" content="{{title or renderData.title or metadata.title | escape}}"/>
        <meta property="og:url" content="{{url | escape }}"/>
        <meta property="og:description" content="{{description or renderData.description | escape }}"/>
        <meta property="og:image" content="{{image | escape}}"/>
        <meta property="og:type" content="article"/>
    </head>
    <body>
        <div class="pageContainer">
            {% include 'header.njk' %}
            {{ content | safe }}
        </div>
    </body>
</html>