<form
  action="https://buttondown.com/api/emails/embed-subscribe/rhubarb"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/rhubarb', 'popupwindow')"
  class="embeddable-buttondown-form flex flex-col w-full"
>
  <p class="mb-2 text-left text-base text-slate-700">
    Join Rhubarb's email list to hear about upcoming performances and releases.
    </p>
  <div class="flex flex-col lg:flex-row w-full gap-3 lg:gap-0">
    <label class="relative text-gray-400 focus-within:text-gray-600 flex-grow block">
      <span class="icon icon--fa6-solid icon--fa6-solid--envelope pointer-events-none absolute top-1/2 left-3 transform -translate-y-1/2 text-gray-300 text-2xl" aria-hidden="true"></span>
      <input type="email"
        class="form-input border border-gray-300 py-2 px-5 bg-white placeholder-gray-400 text-gray-800 appearance-none w-full block pl-12 focus:outline-none focus:ring ring-offset-1 focus:ring-violet-900 shadow-md rounded-full lg:rounded-l-full lg:rounded-r-none h-11"
        placeholder="Your email address"
        required
        name="email" id="bd-email"/>
    </label>
  <button class="button h-11 py-2 inline-flex items-center justify-center gap-2 rounded-full lg:rounded-l-none lg:rounded-r-full whitespace-nowrap w-auto flex-grow-0" type="submit" >
      <span>Join email list</span>
    </button>
  </div>
</form>