<form
  action="https://buttondown.com/api/emails/embed-subscribe/rhubarb"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/rhubarb', 'popupwindow')"
  class="embeddable-buttondown-form flex flex-col w-full"
>
  <p class="mb-2 pl-3 text-left text-base text-slate-700">
    Sign up for Rhubarb's newsletter to hear about upcoming performances and new releases.
    </p>
  <div class="flex flex-col md:flex-row w-full gap-2 md:gap-0">
    <label class="relative text-gray-400 focus-within:text-gray-600 flex-grow block">
      <span class="icon icon--fa6-solid icon--fa6-solid--envelope pointer-events-none absolute top-1/2 left-3 transform -translate-y-1/2 text-gray-300 text-2xl" aria-hidden="true"></span>
      <input type="email"
        class="form-input border border-gray-300 py-2 px-4 bg-white placeholder-gray-400 text-gray-500 appearance-none w-full block pl-12 focus:outline-none focus:ring ring-offset-1 focus:ring-emerald-600 shadow-md/10 rounded-full md:rounded-l-full md:rounded-r-none"
        placeholder="Your email address"
        required
        name="email" id="bd-email"/>
    </label>
    <button class="button inline-flex items-center justify-center gap-2 py-2 rounded-full md:rounded-l-none md:rounded-r-full whitespace-nowrap border border-gray-300 md:border-l-0 bg-emerald-600 hover:bg-emerald-950 text-white w-auto flex-grow-0 shadow-md" type="submit" >
      Sign up
    </button>
  </div>
</form>