<footer class="footer nowrap">
  <a target="_blank" href="https://twitter.com/Cattolemonpaws">@Catto</a>
  <a class="text-decoration-none" target="_blank" href="https://twitter.com/Cattolemonpaws"> 🖌️</a>
</footer>