---
title: Welcome to the Newsletter!
layout: base.njk
description: Thanks for confirming your newsletter subscription
image: /img/rhubarb-violin.png
url: rhubarb.gay
---

<div class="background-container min-h-screen">
  <div class="section-wrapper">
    <div class="flex justify-center items-center min-h-screen">
      <div class="max-w-lg w-full mx-4">
        <div class="flex w-full justify-center pd-4 mb-6">
          <div class="mt-5">
            {% image
            "./src/img/heart.png",
            "Rhubarb holding a big heart. Art by PocketPaws",
            "300",
            "drop-shadow-lg" %}
          </div>
        </div>

        <section class="section container body pb-6">
          <article class="inline-flex flex-col items-center gap-4 justify-center bg-white/90 p-7 rounded-xl">
            {% set type = 'success' %}
            {% include 'subscriber-message.njk' %}
          </article>
        </section>
      </div>
    </div>
  </div>
</div>

<div>
  {% include 'footer.njk' %}
</div>