@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* from https://www.joshwcomeau.com/css/custom-css-reset/ */
.background-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  background-image: linear-gradient(
    142deg,
    #ed7eb6 16.67%,
    #ed7eb6 16.67%,
    #f28db3 33.33%,
    #fdf974 33.33%,
    #fae984 50%,
    #fae984 50%,
    #fdf974 66.67%,
    #41c1e8 66.67%,
    #438bc4 83.33%,
    #428dc3 83.33%,
    #3f8dbe 100%
  );
  background-size: 100vw 100vh;
}
img {
  object-fit: contain;
  height: 100vh;
}
.pageContainer {
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.3rem;
}

/**
 * from 11tree:
 * DIY classless theme - leverage Tailwind's classes to compose your own classless theme!
 * This is extremely powerful if you know semantic html, accessibility, and good design principles.
 */
@layer components {
  body {
    @apply text-slate-800 text-center bg-stone-50;
  }
  .button,
  button.primary {
    @apply py-2 px-5 bg-emerald-600/70 leading-relaxed tracking-wider uppercase font-semibold text-sm text-white rounded-md shadow-md transition-colors duration-300 hover:bg-emerald-950 focus:outline-none focus:ring ring-offset-1 focus:ring-emerald-600 inline-block w-full text-center hover:enabled:cursor-pointer;
  }
  [type="button"].primary {
    @apply bg-emerald-600;
  }
  .inline-links a {
    @apply text-emerald-800 underline hover:text-emerald-900;
  }
  h1 {
    @apply text-4xl font-bold text-slate-800 text-center;
  }
  h2 {
    @apply text-3xl font-bold text-slate-800 text-center;
  }
  h3 {
    @apply text-2xl font-bold text-slate-800 text-center;
  }
  h4 {
    @apply text-xl font-bold text-slate-800 text-center;
  }
  .section-wrapper {
    @apply px-5 md:px-7;
  }
  .section {
    @apply max-w-lg m-auto space-y-5 md:space-y-7;
  }
  .hero-section {
    @apply max-w-4xl m-auto space-y-5 md:space-y-7;
  }
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

.text-decoration-none {
  text-decoration: none;
}
