---
title: Rhubarb Nido
layout: base.njk
---

{# TODO get the sourceset sizes working #}
<div class="background-container min-h-screen">
  <div class="section-wrapper">
    <div class="flex flex-col md:flex-row">
      <div class="hidden md:flex md:w-1/2 w-full items-center justify-center background-image">
        {% image
        "./src/img/pride.png",
        "Painterly artwork of Rhubarb with pansexual pride colors. Art by Catto",
        "
 null
        " %}
      </div>

      <div class="md:w-1/2 w-full flex items-center">
        <div class="md:px-7">
          <div class="flex md:hidden w-full justify-center pd-4">
            <div class="mt-5">
              {% image
              "./src/img/violin.png",
              "Rhubarb playing violin. Art by Scruff",
              "500" %}
            </div>
          </div>
          <section class="section container body pb-6">
            <article class="inline-flex flex-col items-center gap-4 justify-center bg-white/90 p-7 rounded-xl">
              <p class="text-left">
                <span class="font-bold">Rhubarb the Nidorino</span> 
        (he/they) is a furry violinst who performs in VR and at furry conventions.
      </p>
            </article>

          </section>
          <div class="section bg-white/90 border border-gray-200 rounded-xl p-7 mb-4 flex flex-col items-center w-full">
            {% include 'email-list.njk' %}
            <div class="flex flex-col w-full gap-2">
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://bsky.app/profile/rhubarb.gay">
                <span class="icon icon--fa6-brands icon--fa6-brands--bluesky text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">BlueSky</span>
                <span></span>
              </a>
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://twitter.com/nidobun">
                <span class="icon icon--fa6-brands icon--fa6-brands--twitter text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">Twitter</span>
                <span></span>
              </a>
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://www.instagram.com/rhubarbnido/">
                <span class="icon icon--fa6-brands icon--fa6-brands--instagram text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">Instagram</span>
                <span></span>
              </a>
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://twitch.tv/rhubarbnido">
                <span class="icon icon--fa6-brands icon--fa6-brands--twitch text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">Twitch</span>
                <span></span>
              </a>
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://youtube.com/@RhubarbNido">
                <span class="icon icon--fa6-brands icon--fa6-brands--youtube text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">YouTube</span>
                <span></span>
              </a>
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="https://open.spotify.com/artist/5jWahz0eyvOGdBqp3renFw?si=5qjPLdlASMCdTN2RmixbbQ">
                <span class="icon icon--fa6-brands icon--fa6-brands--spotify text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">Spotify</span>
                <span></span>
              </a>
              <a class="button secondary inline-flex w-full items-center justify-center gap-4 rounded-full" target="_blank" rel="noreferrer" href="mailto:rhubarbnido@gmail.com">
                <span class="icon icon--fa6-solid icon--fa6-solid--envelope text-primary dark:text-white text-2xl'" aria-hidden="true"></span>
                <span class="inline-block w-20 text-center">Email</span>
                <span></span>
              </a>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<div>
  {% include 'footer.njk' %}