---
title: Rhubarb Nido
layout: base.njk
---

{# TODO get the sourceset sizes working #}
<div class="background-container min-h-screen">
  <div class="section-wrapper">
    <div class="flex flex-col md:flex-row">
      <div class="hidden md:flex md:w-1/2 w-full items-center justify-center background-image">
        {% image
        "./src/img/pride.png",
        "Painterly artwork of Rhubarb with pansexual pride colors. Art by Catto",
        "
 null
        " %}
      </div>

      <div class="md:w-1/2 w-full flex items-center">
        <div class="md:px-7">
          <div class="flex md:hidden w-full justify-center pd-4">
            <div class="mt-5">
              {% image
              "./src/img/violin.png",
              "Rhubarb playing violin. Art by Scruff",
              "500" %}
            </div>
          </div>
          <section class="section container body pb-6">
            <article class="inline-flex flex-col items-center gap-4 justify-center bg-white/90 p-7 rounded-xl">
              <p class="text-left">
                <span class="font-bold">Rhubarb the Nidorino</span> 
        (he/they) is a furry violinist who performs in VR and at cons.
      </p>
            </article>

          </section>
          <div class="section bg-white/90 border border-gray-200 rounded-xl p-7 mb-4 flex flex-col items-center w-full">
            {% include 'email-list.njk' %}
            {% include 'social-links.njk' %}
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<div>
  {% include 'footer.njk' %}